# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Flutter/Dart
summative/FlutterApp/.dart_tool/
summative/FlutterApp/.flutter-plugins
summative/FlutterApp/.flutter-plugins-dependencies
summative/FlutterApp/.packages
summative/FlutterApp/build/
summative/FlutterApp/ios/Pods/
summative/FlutterApp/android/.gradle/
summative/FlutterApp/android/app/debug/
summative/FlutterApp/android/app/profile/
summative/FlutterApp/android/app/release/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
